body {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}

.dashboard-container {
    padding: 30px;
}

.dashboard-container h1 {
    color: darkblue;
}
.dashboard-container p {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    color: rgb(24, 7, 175);
    font-size: 15px;
    box-shadow: 0 2px 5px gray;
    margin-bottom: 25px;
}

.dashboard-container h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(41, 83, 221);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    transition: 0.3s;
    box-shadow: 0 5px 10px gray;
}

.card:hover {
    background-color: blue;
    transform: scale(1.05);
}
.card a.button {
    background-color: black;
    color: rgb(41, 83, 221);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
}

.card a.button:hover {
    background-color: rgb(200, 200, 255);
    color: rgb(0, 0, 128);
}
footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}


footer {
    border-top: 3px solid royalblue;
}