body {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}

.job-container {
    padding: 20px;
}
.job-container p {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    color: rgb(24, 7, 175);
    font-size: 15px;
    box-shadow: 0 2px 5px gray;
    margin-bottom: 25px;
}

.job-container h2 {
    margin-top: 10px;
}

.job-container h1 {
    color: darkblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 5px 10px gray;
}

th {
    background-color: navy;
    color: white;
    padding: 20px;
}

td {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

tr:hover {
    background-color: rgb(200, 200, 200);
}

.actions a {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.actions .edit {
    background-color: green;
}

.actions .delete {
    background-color: crimson;
}

.job-container a {
    display: inline-block;
    padding: 10px 15px;
    background-color: navy;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.job-container a:hover {
    background-color: royalblue;
    color: white;
    transform: scale(1.05);
}
footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}


footer {
    border-top: 3px solid royalblue;
}