{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Admin Jobs List</title>
</head>

<body>

<header>
  <nav>
    <a href="{% url 'admin_dashboard' %}">Home</a> |
    <a href="{% url 'admin_dashboard' %}">Dashboard</a> |
    <a href="{% url 'add_job' %}">Add Job</a> |
    <a href="{% url 'admin_jobs_list' %}">Jobs List</a> |
    <a href="{% url 'login' %}" onclick="localStorage.removeItem('currentUser')">Logout</a>
  </nav>
</header>

<hr />

<main class="job-container">
  <h1>Jobs List</h1>

  <p>
    Below is the list of job opportunities created by your company.
  </p>

  <section>
    <h2>Company Jobs : </h2>

    <table>
    </table>
  </section>

  <br>

  <a href="{% url 'add_job' %}">Add New Job</a>

</main>

<hr />

<footer>
  <p>Job Search Website - Admin Jobs Management</p>
</footer>
    
<script src="{% static 'JS/admin_jobs_list.js' %}"></script>
</body>
</html>
