<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}" />
    <script src="{%static 'js/login.js'%}" defer></script>
  </head>

  <body>
    <a href="{% url 'home' %}" class="button" style="text-decoration: none; display: inline-block; width: auto; padding: 8px 15px; margin-bottom: 20px; background-color: #468970; color: white; border-radius: 20px; font-size: 14px;">
   ← Back to Home
    </a>
    {% if error %}
  <p style="color: red; text-align: center;">{{ error }}</p>
{% endif %}
      <form class="form" id="loginForm" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

      <div class="container">

        <h2 class="form-title">Login</h2><br />      
      
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" required />
        <br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required />
        <br><br>
        <input type="submit" value="Login"/>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>

     </form>
  </body>
</html>
