{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Jobs</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
      <a href="{% url 'search_jobs' %}">Home</a>
      <a href="{% url 'search_jobs' %}">Search Jobs</a>
      <a href="{% url 'user_applied_jobs' %}">Applied Jobs</a>
      <a href="{% url 'login' %}" onclick="localStorage.removeItem('currentUser')">Logout</a>
    </nav>
    <header><h1>Search Jobs</h1></header>
    <section class="job-container">
      <form id="searchForm">
        <div>
          <label for="job_title">Job title</label>
          <input type="text" id="job_title" placeholder="e.g. Designer" />
        </div>
        <br />
        <div>
          <label for="experience_years">Years of Experience</label>
          <input type="number" id="experience_years" />
        </div>
        <br />
        <button type="submit" class="button">Search Jobs</button>
      </form>
      
      <div style="text-align: left; margin-top: 15px;">
    <p style="margin: 10px 0; font-weight: bold; color: #666;">-- OR --</p>
    <button onclick="location.href='{% url 'job_results' %}'" class="button" style="background-color: #666; width: auto; padding: 10px 20px; display: block;">
        View All Available Jobs
    </button>
</div>
    </section>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function(e) {
            e.preventDefault();
            const title = document.getElementById("job_title").value;
            const exp = document.getElementById("experience_years").value;
            
            window.location.href = `/results/?title=${title}&exp=${exp}`;
        });
    </script>
</body>
</html>
